*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cursor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    position: fixed;
    z-index: 9;
}
#image{
    height: 30vw;
    width: 60vw;
    background-color: crimson;
    /* background-image: url('./pexels-scottwebb-430205.jpg');
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover; */
    position: relative;
}
#image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 10;

}