*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
}

body{
    background-color: #111;
    font-family: "Bungee Shade", sans-serif;
}

#page1{
    height: 100vw;
    width: 100%;
    background-color: pink;
}
#page2{
    height: 100vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page3{
    height: 100vw;
    width: 100%;
    background-color: crimson;
}

#move{
    background-color: lightgreen;
    display: flex;
    padding: 3vw 0;
    overflow: hidden;
}

#all{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 2vw;
    padding: 0 1.5vw;
    transform: translateX(-100%);
}


#all h1{
    font-size: 40px;
}


#all img {
    height: 30px;
}