*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,
body{
    width: 100%;
    height: 100%;
    background-color: black;
}
/* 
#box{
    width: 200px;
    height: 200px;
    background-color: crimson;
}
#box2{
    width: 200px;
    height: 200px;
    background-color: violet;
}
#box3{
    width: 200px;
    height: 200px;
    background-color: pink;
} */


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    color: white;
}
#header{
    display: flex;
    gap: 50px;
}

h1{
    position: absolute;
    color: wheat;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 60px;
    white-space: nowrap; /*full text in one line*/
}