*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,
body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}

#main{
    width: 100%;
    height: 100%;
    background-image: url("./pexels-asadphoto-457881.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    color: #fff;
}

#nav h2{
    font-size: 30px;
}

#nav i{
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}

#bar{
    height: 100%;
    width: 40%;
    position: absolute;
    background-color: #ffffff56;
    top: 0;
    right: -40%;
    backdrop-filter: blur(10px);
    padding: 150px 60px;
}

#bar h4{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}

#bar i{
    position: absolute;
    top: 5%;
    right: 5%;
    padding: 5px;
    font-weight: 800;
    font-size: 30px;
    cursor: pointer;
}